@using TournamentPulse.WebUI.Models.Fighter;
@model List<FighterListViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>List of Fighters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>List of Fighters</h1>

    @if (Model.Any())
    {
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Academy</th>
                        <th>Age</th>
                        <th>Rank</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fighter in Model)
                    {
                        <tr>
                            <td>@fighter.FullName</td>
                            <td>@fighter.Academy</td>
                            <td>@fighter.Age</td>
                            <td>@fighter.Rank</td>
                            <td>@fighter.Weight</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No fighters found.</p>
    }

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
