@using TournamentPulse.WebUI.Models.Fighter;
@model List<FighterListViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>List of Fighters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Reduce the padding and line height for table cells */
        table.table tbody tr td {
            padding: 0.45rem; /* You can adjust this value as needed */
            line-height: 1;
        }
    </style>

</head>
<body>
    <h1>List of Fighters</h1>

    @if (Model.Any())
    {
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Academy</th>
                        <th>Age</th>
                        <th>Rank</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fighter in Model)
                    {
                        <tr>
                            <td><a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = fighter.FullName })">@fighter.FullName</a></td>
                            <td><a class="nav-link" href="@Url.Action("Detail", "Academy", new { academyName = fighter.Academy })">@fighter.Academy</a></td>
                            <td>@fighter.Age</td>
                            <td>@fighter.Rank</td>
                            <td>@fighter.Weight</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No fighters found.</p>
    }

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
