@using TournamentPulse.WebUI.Models.Association;
@model List<AssociationListViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>List of Associations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>List of Associations</h1>

    <a href="@Url.Action("Add", "Association")" class="btn btn-success mb-3">Add New Association</a>

    @if (Model.Any())
    {
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Figthers</th>
                        <th>Associations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var association in Model)
                    {
                        <tr>
                            <td><a class="nav-link" href="@Url.Action("Detail", "Association", new { associationName = association.Name })"/>@association.Name</td>
                            <td>@association.FightersCnt</td>
                            <td>@association.AcademiesCnt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Associations found.</p>
    }

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
