@using TournamentPulse.WebUI.Models.Academy;
@model List<AcademyListViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>List of Academies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>@_localization.Getkey("acp_ListOfAcademies")</h1>

    <a href="@Url.Action("Add", "Academy")" class="btn btn-success mb-3">@_localization.Getkey("acp_AddNewAcademy")</a>

    @if (Model.Any())
    {
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@_localization.Getkey("acp_Name")</th>
                        <th>@_localization.Getkey("acp_Association")</th>
                        <th>@_localization.Getkey("acp_Country")</th>
                        <th>@_localization.Getkey("acp_Fighters")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var academy in Model)
                    {
                        <tr>
                            <td><a class="nav-link" href="@Url.Action("Detail", "Academy", new { academyName = academy.Name })">@academy.Name</a></td>
                            <td><a class="nav-link" href="@Url.Action("Detail", "Association", new { associationName = academy.Association })" />@academy.Association</td>
                            <td>@academy.Country</td>
                            <td>@academy.FightersCnt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No academies found.</p>
    }

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
