@using TournamentPulse.WebUI.Models.Match;
@model List<CategoryMatchListViewModel>
<!DOCTYPE html>
<html>
<head>
    <title>Centered Card Layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        /* Add a custom CSS style for the table */
        .custom-table {
            background-color: #999999;
        }

        /* Remove margin for the card element */
        .custom-card {
            margin: 0 !important;
        }

        .row {
            margin: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Detail", "Tournament", new { id = ViewData["TournamentId"] })">Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Category", "Tournament", new { id = ViewData["TournamentId"] })">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bracket", "Tournament", new { id = ViewData["TournamentId"] })">Bracket</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="content-container">

        <h1 class="text-white">Brackets</h1>
        @foreach (var categoryMatch in Model)
        {
            <div class="row mb-4">
                <div class="col">
                    <div class="card custom-card">
                        <div class="card-header" style="background-color: #808080">
                            <h2 class="d-flex justify-content-between">
                                @categoryMatch.Category
                                <a href="@Url.Action("GenerateNextRoundBracket", "Tournament", new { tournamentId = ViewData["TournamentId"],  categoryName = categoryMatch.Category })" class="btn btn-primary">Generate Next Round</a>
                            </h2>
                        </div>
                        <div class="card-body" style="background-color: #808080">
                            <div class="table-hover">
                                <table class="table custom-table">
                                    <!-- Apply the custom table class here -->
                                    <thead>
                                        <tr>
                                            <th>Round</th>
                                            <th>F1</th>
                                            <th>F2</th>
                                            <th>Status</th>
                                            <th>Score</th>
                                            <th>Winning Method</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var match in categoryMatch.Matches)
                                        {
                                            var winner = match.Winner;

                                            <tr>
                                                <td>@match.Round/@categoryMatch.TotalRounds</td>
                                                <td>
                                                    @if (winner == match.Fighter1)
                                                    {
                                                        <i class="fas fa-trophy winner-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter1 })">@match.Fighter1</a>
                                                    }
                                                    else if (winner == match.Fighter2)
                                                    {
                                                        <i class="fas fa-times loser-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter1 })">@match.Fighter1</a>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-question-circle question-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter1 })">@match.Fighter1</a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (winner == match.Fighter2)
                                                    {
                                                        <i class="fas fa-trophy winner-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter2 })">@match.Fighter2</a>
                                                    }
                                                    else if (winner == match.Fighter1)
                                                    {
                                                        <i class="fas fa-times loser-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter2 })">@match.Fighter2</a>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-question-circle question-icon"></i> <a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = match.Fighter2 })">@match.Fighter2</a>
                                                    }
                                                </td>
                                                <td>@match.MatchStatus</td>
                                                <td>@match.Score1 : @match.Score2</td>
                                                <td>@match.WinningMethod</td>
                                                <td>
                                                    <a href="@Url.Action("EditMatch", "Tournament", new { matchId = match.Id })" class="btn btn-warning">Edit</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
