@using TournamentPulse.WebUI.Models.Match;
@model List<CategoryMatchListViewModel>
<!DOCTYPE html>
<html>
    <head>
        <title>Centered Card Layout</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   </head>
    <body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Detail", "Tournament", new { id = ViewData["TournamentId"] })">Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Category", "Tournament", new { id = ViewData["TournamentId"] })">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bracket", "Tournament", new { id = ViewData["TournamentId"] })">Bracket</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="content-container">
            <h1>Brackets</h1>
            @foreach (var categoryMatch in Model)
            {
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h2>@categoryMatch.Category</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table fighter-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">Round</th>
                                                <th style="width: 20%;">F1</th>
                                                <th style="width: 20%;">F2</th>
                                                <th style="width: 15%;">Status</th>
                                                <th style="width: 15%;">Score</th>
                                                <th style="width: 20%;">Winning Method</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var match in categoryMatch.Matches)
                                            {
                                                <tr>
                                                    <td>@match.Round</td>
                                                    <td>@match.Fighter1</td>
                                                    <td>@match.Fighter2</td>
                                                    <td>@match.MatchStatus</td>
                                                    <td>@match.Score1 : @match.Score2</td>
                                                    <td>@match.WinningMethod</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>




    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>