@using TournamentPulse.WebUI.Models.CategoryFighter;
@model List<CategoryFighterListViewModel>
<!DOCTYPE html>
<html>
<head>
    <title>Centered Card Layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Detail", "Tournament", new { id = ViewData["TournamentId"] })">Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Category", "Tournament", new { id = ViewData["TournamentId"] })">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bracket", "Tournament", new { id = ViewData["TournamentId"] })">Bracket</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="content-container">
            <h1>Participants</h1>
            @foreach (var categoryFighter in Model)
            {
                <div class="row mb-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h2>@categoryFighter.Category</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table fighter-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Full Name</th>
                                                <th style="width: 30%;">Academy</th>
                                                <th style="width: 10%;">Age</th>
                                                <th style="width: 10%;">Weight</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var fighter in categoryFighter.Fighters)
                                            {
                                                <tr>
                                                    <td>@fighter.FullName</td>
                                                    <td>@fighter.Academy</td>
                                                    <td>@fighter.Age</td>
                                                    <td>@fighter.Weight</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>





    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>