@using TournamentPulse.WebUI.Models.CategoryFighter;
@model List<CategoryFighterListViewModel>
<!DOCTYPE html>
<html>
<head>
    <title>Centered Card Layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        /* Add a custom CSS style for the table */
        .custom-table {
            background-color: #999999;
        }

        /* Remove margin for the card element */
        .custom-card {
            margin: 0 !important;
        }

        .row {
            margin: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Detail", "Tournament", new { id = ViewData["TournamentId"] })">@_localization.Getkey("tnb_Detail")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Category", "Tournament", new { id = ViewData["TournamentId"] })">@_localization.Getkey("tnb_Category")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bracket", "Tournament", new { id = ViewData["TournamentId"] })">@_localization.Getkey("tnb_Bracket")</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid m-0 p-0" id="content-container">

        <h1>@_localization.Getkey("cp_Participants")</h1>
        @foreach (var categoryFighter in Model)
        {
            <div class="row mb-4">
                <div class="col">
                    <div class="card custom-card">
                        <div class="card-header" style="background-color: #808080">
                            <h2 class="d-flex justify-content-between">
                                @categoryFighter.Category
                                <a href="@Url.Action("GenerateFirstRoundBracket", "Tournament", new { tournamentId = ViewData["TournamentId"],  categoryName = categoryFighter.Category })" class="btn btn-primary">@_localization.Getkey("cp_GenerateFirstRound")</a>
                            </h2>
                        </div>
                        <div class="card-body" style="background-color: #808080">
                            <div class="table-hover">
                                <table class="table custom-table">
                                    <!-- Apply the custom table class here -->
                                    <thead>
                                        <tr>
                                            <th>@_localization.Getkey("cp_FullName")</th>
                                            <th>@_localization.Getkey("cp_Academy")</th>
                                            <th>@_localization.Getkey("cp_Age")</th>
                                            <th>@_localization.Getkey("cp_Weight")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var fighter in categoryFighter.Fighters)
                                        {
                                            <tr>
                                                <td><a class="nav-link" href="@Url.Action("Details", "Fighter", new { fighterName = fighter.FullName })">@fighter.FullName</a></td>
                                                <td><a class="nav-link" href="@Url.Action("Detail", "Academy", new { academyName = fighter.Academy })">@fighter.Academy</a></td>
                                                <td>@fighter.Age</td>
                                                <td>@fighter.Weight</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
