@using TournamentPulse.WebUI.Models.Tournament;
@model TournamentDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Centered Card Layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                @if (Model != null)
                {
                    <!-- Check if a model has been passed -->
                    <div class="custom-card-main">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <img src="@Model.ImageName" class="card-img" alt="Image">
                            </div>
                            <div class="col-md-5">
                                <div class="card-body">
                                    <h5 class="card-title">Date of Holding</h5>
                                    <p class="card-text">@Model.Date</p>
                                    <h5 class="card-title">Number of Participants</h5>
                                    <p class="card-text">@Model.MaxParticipants</p>
                                    <a href="#" class="btn btn-primary">Register to Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <p>No model data available.</p> <!-- Display a message when no model is available -->
                }
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        <!-- Check if a model has been passed -->
        <div class="container second-card-container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="custom-card-secondary">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="card-title">@Model.Name Description</h4>
                                    <p class="card-text">@Model.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Rest of your code for displaying details -->
            </div>
        </div>
    }

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
