@using TournamentPulse.WebUI.Models.Match;
@using TournamentPulse.Core.Enums;
@model MatchViewModel

@{
    ViewData["Title"] = "Edit Match";
}
<center>
    <h1>@Model.Fighter1 VS @Model.Fighter2</h1>
</center>

<h2>Edit Match</h2>

<form asp-action="EditMatch" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Score1">@Model.Fighter1 Score :</label>
        <input asp-for="Score1" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Score2">@Model.Fighter2 Score :</label>
        <input asp-for="Score2" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MatchStatus">Match Status:</label>
        <select asp-for="MatchStatus" class="form-control">
            @foreach (var ms in Enum.GetValues(typeof(MatchStatusEnum)).Cast<MatchStatusEnum>())
            {
                <option value="@ms">@ms</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="WinningMethod">Winning Method:</label>
        <select asp-for="WinningMethod" class="form-control">
            @foreach (var wm in Enum.GetValues(typeof(WinningMethodEnum)).Cast<WinningMethodEnum>())
            {
                <option value="@wm">@wm</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label asp-for="Winner">Winner:</label>
        <select asp-for="Winner" class="form-control">
            <option value="@Model.Fighter1">@Model.Fighter1</option>
            <option value="@Model.Fighter2">@Model.Fighter2</option>
        </select>
    </div>



    @* Add hidden fields for properties not included in the form *@
    <input type="hidden" asp-for="TournamentId" />
    <input type="hidden" asp-for="CategoryId" />
    <input type="hidden" asp-for="Fighter1" />
    <input type="hidden" asp-for="Fighter2" />

    <button type="submit" class="btn btn-primary">Save</button>
</form>
